!! ╔═╗╔═╗╔╗╔╔╦╗╔═╗╦╔═╦ ╦  ╔═╗╔═╗╔╗╔╔═╗╦╔═╗
!! ╚═╗║╣ ║║║ ║ ╠═╣╠╩╗║ ║  ║  ║ ║║║║╠╣ ║║ ╦
!! ╚═╝╚═╝╝╚╝ ╩ ╩ ╩╩ ╩╚═╝  ╚═╝╚═╝╝╚╝╚  ╩╚═╝
!! ==================================================
!! Dotfiles: https://github.com/sentakuhm/.dotfiles
!! Email: madaramost@gmail.com
!! ==================================================


!!Font
Xft.dpi:        110
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull
URxvt.font: xft:MonoLisa NF:size=11,\
            xft:DejaVu Sans:size=11,\
            xft:DroidSansMono Nerd Font,\

!! Fullscreen key
URxvt.keysym.F11: perl:fullscreen:switch

!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,matcher,clipboard,url-select,keyboard-select,fullscreen
URxvt.clipboard.autocopy: true
URxvt.keysym.Control-c: perl:clipboard:copy
URxvt.keysym.Control-v: perl:clipboard:paste
URxvt.keysym.Control-s: perl:keyboard-select:search
URxvt.keysym.Control-u: perl:url-select:select_next
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1

!! Colorscheme
*.foreground:   #d0d0d0
*.background:   #151515
*.cursorColor:  #d0d0d0

! black
*.color0:       #151515
*.color8:       #505050

! red
*.color1:       #fb9fb1
*.color9:       #fb9fb1

! green
*.color2:       #acc267
*.color10:      #acc267

! yellow
*.color3:       #ddb26f
*.color11:      #ddb26f

! blue
*.color4:       #6fc2ef
*.color12:      #6fc2ef

! magenta
*.color5:       #e1a3ee
*.color13:      #e1a3ee

! cyan
*.color6:       #12cfc0
*.color14:      #12cfc0

! white
*.color7:       #d0d0d0
*.color15:      #f5f5f5

!! URxvt Appearance
URxvt.geometry: 129x35
URxvt.internalBorder: 2 
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.savelines: 0
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.visualBell: true
URxvt.mapAlert: true
URxvt.iso14755: false
URxvt.depth: 32
urxvt*background: rgba:0000/0000/0200/c800

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: false

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

