!!Font
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull
!URxvt*font: xft:Inconsolata Nerd Font Mono:size=15, xft:DejaVu Sans:size=12
URxvt*font: xft:SauceCodePro Nerd Font Mono:size=12, xft:DejaVu Sans:size=12
URxvt.depth: 32

!! Fullscreen key
URxvt.keysym.F11: perl:fullscreen:switch

!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,tabbed,matcher,clipboard,url-select,keyboard-select,fullscreen
URxvt.clipboard.autocopy: true
URxvt.keysym.Control-c: perl:clipboard:copy
URxvt.keysym.Control-v: perl:clipboard:paste
URxvt.keysym.Control-C-v: perl:clipboard:paste_escaped
URxvt.keysym.Control-Escape: perl:keyboard-select:activate
URxvt.keysym.Control-s: perl:keyboard-select:search
URxvt.keysym.Control-u: perl:url-select:select_next
URxvt.urlLauncher: chromium
URxvt.underlineURLs: true
URxvt.urlButton: 1

!! Colorscheme
! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

!! URxvt Appearance
URxvt.geometry: 102x25
URxvt.internalBorder: 2 
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.iso14755: false
urxvt*background: rgba:0000/0000/0200/c800

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

