window {
    font-family: JetBrainsMono Nerd Font,monospace;
    font-size: 12pt;
    color: #cdd6f4; /* text */
    background-color: rgba(30, 30, 46, 0.6);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border: none;
    color: #ced7f4;
    text-shadow: none;
    background-color: rgba(30, 30, 46, 0.7);
    margin: 5px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(49, 50, 68, 0.1);
}

button:focus {
    background-color: #74C7EC; /*#cdd6f4;*/
    color: #18182a;
    text-shadow: none;
}

#lock {
    background-image: image(url("./icons/lock.png"));
}
#lock:focus {
    background-image: image(url("./icons/lock-hover.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}
#logout:focus {
    background-image: image(url("./icons/logout-hover.png"));
}

#suspend {
    background-image: image(url("./icons/suspend.png"));
}
#suspend:focus {
    background-image: image(url("./icons/suspend-hover.png"));
}

#shutdown {
    background-image: image(url("./icons/shutdown.png"));
}
#shutdown:focus {
    background-image: image(url("./icons/shutdown-hover.png"));
}

#reboot {
    background-image: image(url("./icons/reboot.png"));
}
#reboot:focus {
    background-image: image(url("./icons/reboot-hover.png"));
}
